.radius{
  border-radius: 0 0 0.25rem 0.25rem!important;
}
.title{
  display: inline-block;
  height: calc(1.5em + .75rem + 2px);
  line-height: calc(1.5em + .75rem + 2px);
}
.icon-button{
  background: none;
  border: none;
  color: inherit;
}
.c-link{
  cursor: pointer;
  height: calc(1.5em + .75rem + 2px);
  line-height: calc(1.5em + .75rem + 2px);
}
.start-page{
  height: 300px;
  line-height: 300px;
  color: #ccc;
  font-size: 30px;
  text-align: center;
}
.left-panel{
  position: relative;
  min-height: 100vh;
  .button-group{
    position: absolute;
    bottom: 0;
    width: 100%;
    .no-border{
      border-radius: 0;
    }
  }
}

